@import 'ui/css/components/color';
 :host {
  display: block;
  padding: 0 16px;
}
form {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  input {
    width: 240px;
  }
  label {
    left: 0;
  }
  button {
    margin-left: 24px;
  }
}
