@charset "UTF-8";

// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

$roboto-font-path: "/assets/ui/font/roboto/";
$icons-font-path: "/assets/ui/font/material-design-icons/";

$navbar-height: 48px;
