@import 'ui/css/components/color';

.nav-wrapper ul {
  padding: 0 6px;
  a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  a.router-link-active {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
